<div class="Category">
    <h5 class="sidebar-title">Categories</h5>
    <div class="sidebar-divider"></div>
    <LinkTo @route="Rizzipes" @query={{hash id=1}} class="sidebar-link">Bread</LinkTo>
    <LinkTo @route="Rizzipes" @query={{hash id=2}} class="sidebar-link">Cake</LinkTo>
</div>