<div class="Category">
    <div class="SideBar">
        <h3>Categories</h3>
        <ul> 
            <li><LinkTo @route="Login" class="button">Cake</LinkTo></li>
            <li><LinkTo @route="Users" class="button">Bread</LinkTo></li>
            <li><LinkTo @route="Users" class="button">Bun</LinkTo></li>
            <li><LinkTo @route="Users" class="button">etc.</LinkTo></li>
        </ul>
    </div>
</div>