<div class="navigation">
    <div id="navbar" >
        <LinkTo @route="Index" class="button">homepage</LinkTo>
        <LinkTo @route="Rizzpies" class="button">Show Rizzpies</LinkTo>  
        <LinkTo @route="Login" class="button">Login</LinkTo>  
    </div>
</div>