{{page-title "CreateRizzipe"}}
<div class="container-fluid">
    <div class="w-800 mw-full">
        <div class="card p-0">
            <center>
                <h2 class="content-title">Create Rizzipe</h2>
                <div class="w-400 mw-full">   
                    <Create-Rizzipe></Create-Rizzipe>
                </div>
            </center>
        </div>
    </div>
</div>
{{outlet}}