{{page-title "CreateRizzipe"}}
<div class="container-fluid">
    <div class="w-800 mw-full">
        <div class="card p-0">
            <center>
                <h2 class="content-title">Create Rizzipe</h2>
                <div class="w-400 mw-full">   
                    <form action="" method="post">
                        <input type="text" class="form-control" placeholder="Title"> <br>
                        <input type="text" class="form-control" placeholder="Category"> <br>
                        <input type="text" class="form-control" placeholder="Duration"> <br>
                        <textarea class="form-control" placeholder="Steps"></textarea> <br>
                        <textarea class="form-control" placeholder="Ingredients"></textarea> <br>
                        <div class="custom-file">
                            <input type="file" id="multi-file-input-1" multiple="multiple" accept=".jpg,.png,.gif">
                            <label for="multi-file-input-1">Choose images</label>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </form>             
                </div>
            </center>
        </div>
    </div>
</div>

{{outlet}}