{{page-title "Rizzpies"}}
<Navigation>
</Navigation>
  <div class="jumbo">
    <div class="right tomster"></div>
    <h2>Welcome to Super Rentals!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay.</p>
    {{!-- <LinkTo @route="Users" class="button">Show Users</LinkTo>
    <LinkTo @route="testroute" class="button">Show test</LinkTo> --}}
    <Tester></Tester>
  </div>
{{outlet}}

