{{page-title "Rizzipes"}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <List-Rizzipes @rizzipes={{@model}}/>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

{{outlet}}